@font-face {
    font-family: 'Montserrat-Black';
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

:root {
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --second-900: #ffed4b;
    --second-800: rgba(143, 135, 67, 0.603);
    --error-900: #DA6A00;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

html, body, main{
    height: 100%;
}

main {
    display: flex;
}



nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--bs-gray-900);
}

h1 {
    font-family: 'Montserrat-Black';
    font-size: 2em;
    color: white;
}

input {
    font-family: 'Montserrat';
    padding: 10px;
    transition-duration: 0.25s;
}

input:focus, input:hover {
    outline: none;
    border: solid 1px var(--bs-gray-900);
    box-shadow: 0px 0px 10px 2px var(--second-900);
    transform: scale(1.015);
}

.h1-no-margin {
    margin: 0px;
}

.input-round {
    border: 1px solid var(--bs-gray-500);
    border-radius: 10px;
    width: 400px;
}

.nav-item-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.nav-search-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-search-img{
    width: 30px;
    height: 30px;
}

/*----------------------------------------------*/
.movielist {
    width: 25%;
    background-color: var(--bs-gray-700);
    height: 100%;
}

.movielist-item {
    padding: 20px;
    font-family: 'Montserrat';
    color: white;
    font-size: 1.5em;
    transition-duration: 0.2s;
}

.movielist-item:hover {
    color: var(--second-900);
}

.movielist-item:active {
    background-color: var(--second-800);
}

.movielist-add{
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: var(--bs-gray-800);
}

.movielist-add-img{
    width: 30px;
    height: 30px;
    transition-duration: 0.2s;
}

.movielist-add-img:hover {
    transform: scale(1.25);
}

.movielist-add-img:active {
    transform: scale(0.75);
}

/*-------------------------Main-Content---------------*/
.main-content {
    width: 100%;
    background-color: var(--bs-gray-600);
}